@{
    ViewBag.Title = @ERP.WebUI.Models.Resource1.sellingManagment;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" role="main">
    <div id="ribbon">
        <span class="ribbon-button-alignment">
            <i class="fa fa-lg fa-fw fa-home"></i>
        </span>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="/Home"> @ERP.WebUI.Models.Resource1.Home</a></li>
            <li>@ERP.WebUI.Models.Resource1.ReportsAndStatistics</li>
            <li>@ERP.WebUI.Models.Resource1.reports</li>
            <li>@ERP.WebUI.Models.Resource1.OperationReports</li>
            <li>Hong</li>


        </ol>
    </div>
    <!-- END RIBBON -->
    
    <div class="row container">
        @*<div class="col-md-4">


                <label style="margin-right: 50px; margin-top: 16px;" id="I_1176" class=" fa fa-circle hide" aria-hidden="true">

                    &ensp; <b>  <a href="SafeOperationReport/TotalDeposit/#I_1176" style="font-size:large">@ERP.WebUI.Models.Resource1.Deposite ( @ERP.WebUI.Models.Resource1.Total )</a></b>

                </label>

            </div>*@
        <div class="col-md-4">

            <label style="margin-right: 50px; margin-top: 16px;" id="" class=" fa fa-circle " aria-hidden="true">
                &ensp; <b> <a href="SellingConfig/OSOSTest" style="font-size:large">HongDash</a></b>

            </label>
        </div>
    </div>